
 
 
div{
    background-color: paleturquoise;
    height: 200px;
    width: 50px;
}



li{
    background-color: lightyellow;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items:center;
}